caption {
	font-size: 16px;
	line-height: 15px;
	color: var(--color-neutral-600);
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 90%;
	max-width: 500px;
}

.link {
	color: var(--color-neutral-600);
	text-decoration: underline;
	font-weight: 500;
	font-size: 14px;
}
.separador {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.pageview {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
}

.registerForm {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 1rem;
	margin: 1rem;
	text-align: center;
	width: 90%;
	font-size: larger;
	max-width: 500px;
	padding: 16px;
	padding-bottom: 16px;
	margin-top: 5%;
}

.labelInput {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	width: 95%;
	label {
		/* font-size: 1.1rem; */
		font-weight: 400;
		font-size: 13px;
		line-height: 15px;
		color: var(--color-primario);
		margin-bottom: 2px;
	}
	input,
	select,
	textarea {
		border-radius: 0.5rem;
		size: medium;
		/* padding: 0.6rem; */
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 16px;
		font-size: medium;
		background-color: var(--color-boton-fondo);
		width: 99%;
	}
}
.buttonEnabled {
	background-color: var(--color-primario);
	color: var(--color-fondo);
	width: 100%;
	max-width: 550px;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}

.buttonDisabled {
	width: 100%;
	max-width: 550px;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	border: 3px solid var(--color-disabled);
	color: white;
	background-color: var(--color-disabled);
	&:hover {
		cursor: auto;
	}
}

.registerdiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	p {
		margin: 0px;
	}
	span {
		font-size: medium;
	}
}

a {
	color: var(--color-primario);
	font-size: smaller;
}

.link {
	text-decoration: underline;
	color: var(--color-neutral-600);
	font-weight: 500;
	font-size: 14px;
}
.separador {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.passwordContainer {
	position: relative;
	width: 100%;
}

.showPasswordButton {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: var(--color-secundario);
	cursor: pointer;
	font-size: 14px;
	width: 35px;
}

.verySmall {
	font-size: 10px;
	line-height: 12px;
	color: var(--color-neutral-600);
	font-weight: 400;
}
