.container-crear-objetivo {
  min-height: 100vh;
  min-width: 94vw;
  width: 94vw;
  margin: auto;
}
.container-crear-objetivo h1 {
  display: flex;
  align-items: center;
  height: 7.28vh;
  width: 94vw;
  margin: auto;
  font-size: 1.2rem;
  font-weight: var(--font-poppins-500);
}
.container-crear-objetivo .iconos-hero {
  margin-right: 10px;
}
.container-crear-objetivo form {
  border-radius: 5px;
  height: 70vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh auto auto auto;
  color: var(--color-primario);
}
.container-crear-objetivo form hr {
  width: 90%;
}
.container-crear-objetivo input {
  height: 5vh;
  width: 100%;
  /* box-shadow: 0 0 8px 3px rgba(128, 128, 128, 0.438); */
  border: solid grey 1px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.container-crear-objetivo form :nth-child(3) {
  margin: 5vh auto auto auto;
}
.container-crear-objetivo form :nth-child(4) {
  margin: auto auto 5vh auto;
}

.container-crear-objetivo form button {
  background-color: var(--color-primario);
  color: var(--color-fondo);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.container-crear-objetivo form label {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 20px;
}
