.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: #0048ba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.hidden {
  transform: translateY(-100%);
}

.navMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navMenu a svg {
  margin-right: 5px;
  display: none;
}

.navMenu li {
  margin: 0 10px;
}

.navMenu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.logo {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0048ba;
    padding: 10px 10px;
  }

  .navMenu li {
    flex-grow: 1; 
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }

  .navMenu a {
    font-size: 0.8rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navMenu a svg {
    margin-right: 5px;
    display: block;
    font-size: 15px;
  }

}
