.profilePictureContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.profilePicture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--color-primario);
}

.defaultIcon{
  width: 100%; 
  height: 100%;
  border-radius: 50%; 
  object-fit: cover;
  border: 3px solid var(--color-primario);
}

.cameraIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 8px 10px 4px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: var(--color-primario);
  font-size: 24px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile.p {
  margin: 0;
}

.title {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	color: #232f34;
	translate: 0px -4px;
	width: 90%;
}

.subtitle {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-primario);
  text-align: center;
}

.title a {
  color: black;
  margin-right: 8px;
}

.buttonArrow{
  border: none;
  background-color: transparent;
  height: 20px;
}

.icon{
  font-size: 16px;
  cursor: pointer;
}

.names{
  margin: 10px 0px 0px 0px;
  color:var(--color-primario);
  font-weight: 500;
}

.email {
  margin: 5px 0px 0px 0px;
  color: black;
}

.cardcontainer {
  display: flex;
  justify-content: center;
}

.card {
  width: 39%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  transition: all 0.3s ease;
  padding: 10px 15px;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-primario);
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.button {
  border-radius: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.editButton{
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithButton {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithButton input {
  width: 100%;
  padding-right: 90px;
  padding: 10px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 14px;
}

.inputWithButton a {
  position: absolute;
  right: 10px;
  height: 30px;
  padding: 0 15px;
  border: none;
  color: var(--color-primario);
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.inputWithButton input:focus {
  border-color: var(--color-primario);
  outline: none;
}


.radiocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.radiobuttonscontainer {
  max-width: 600px;
}

.radiobuttons {
  display: flex;
  flex-direction: column;
  
}

.radiobuttons h3 {
  margin: 0;
  text-align: start;
}

.radiobuttons p {
  margin: 0;
  color: black;
  font-size: 16px;
}

.radiobuttons input {
  width: 20px;
  height: 20px;
}
.radiobutton{
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 767px) {

  .form{
    max-width: 100%;
  }
  .radiocontainer{
    max-width: 100%;
  }
  

  .radiobutton{
    width: 100%;
  }

  .container {
    margin: 10px;
  }
  

  .profilePictureContainer {
    position: relative; 
    width: 100px; 
    height: 100px; 
    margin-right: 20px; 
  }

  .defaultIcon{
    width: 100%; 
    height: 100%;
    border-radius: 50%; 
    border: 3px solid var(--color-primario); 
  }

  .card{
    width: 80%;
  }

  .radiobuttonscontainer {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
  }
}

.pageView {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
}
.contentContainer {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	width: 90%;
	max-width: 1000px;
	gap: 10px;
	background-color: var(--color-fondo);
	margin-bottom: 244px;
}
