.profilePictureContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.profilePicture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #0048ba;
}


.defaultIcon{
  width: 100%; 
  height: 100%;
  border-radius: 50%; 
  object-fit: cover;
  border: 3px solid #0048ba; 
}

.cameraIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 8px 10px 4px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #0048ba;
  font-size: 24px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile.p {
  margin: 0;
}

.title {
  margin: 10px 20px;
  text-align: start;
  color: black;
  font-size: 36px;
}
.title a {
  font-size: 28px;
  color: black;
  margin-right: 8px;
}

.buttonArrow{
  border: none;
  background-color: transparent;
  height: 50px;
}

.icon{
  font-size: 25px;
  cursor: pointer;
}

.names {
  margin: 10px 0px 0px 0px;
}
.email {
  margin: 5px 0px 0px 0px;
  color: black;
}

.cardcontainer {
  display: flex;
  justify-content: center;
}

.card {
  width: 39%;
  padding: 10px 5px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0px;
  font-size: 30px;
  color: black;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}



input:checked + .slider {
  background-color: #5654dd;
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.subtitle {
  color: black;
  font-size: 32px;
  text-align: center;
}

.button {
  border-radius: 20px;
}

.formContainer {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.editButton{
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithButton {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithButton input {
  width: 100%;
  padding-right: 90px;
  padding: 10px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 14px;
}

.inputWithButton a {
  position: absolute;
  right: 10px;
  height: 30px;
  padding: 0 15px;
  border: none;
  color: blue;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.inputWithButton input:focus {
  border-color: blue;
  outline: none;
}


.radiocontainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.radiobuttonscontainer {
  width: 40%;
  max-width: 600px;
  margin: 20px auto;
}

.radiobuttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.radiobuttons h3 {
  margin: 0;
  text-align: start;
  color: black;
  font-size: 20px;
}

.radiobuttons p {
  margin: 0;
  color: black;
  font-size: 16px;
}

.radiobuttons input {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .container {
    margin: 10px;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
  }

  .profilePictureContainer {
    position: relative; 
    width: 100px; 
    height: 100px; 
    margin-right: 20px; 
  }

  .defaultIcon{
    width: 100%; 
    height: 100%;
    border-radius: 50%; 
    border: 3px solid #0048ba; 
  }

  .card{
    width: 80%;
  }

  .radiobuttonscontainer {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
  }
}
