.h3-grafico {
  font-size: 0.7rem;
  float: left;
}
.h4-grafico {
  font-size: 0.5rem;
  float: left;
}
.container-sub-g {
  width: 94vw;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.container-grafico-torta {
  width: 100%;
  height: 200px;
}
.btn-ahorro-auto {
  margin: 2vh auto;
  width: 300px;
  height: 30px;
  background-color: #0048b2;
  border: none;
  border-radius: 3px;
  color: rgb(246, 248, 249);
}
.sugerencia-personalizada {
  border: solid 1px grey;
  border-radius: 6px;
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
}
.sugerencia-personalizada div {
  font-size: 0.8rem;
}
.sugerencia-personalizada * {
  text-align: left;
}
