:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Definición de variables de color */
  --color-primario: #ffffffde;
  --color-fondo: linear-gradient(135deg, rgb(12, 26, 60), rgb(31, 36, 50));
  --color-secundario: #00aeff;
  --color-boton-fondo: #ffffffde;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: var(--color-fondo); /* Este gradiente también se usa aquí */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
  background: radial-gradient(
    circle,
    var(--color-secundario) 0%,
    var(--color-fondo) 40%
  );
}

h1 {
  font-size: clamp(3rem, calc(7vw + 1rem), 3.2rem);
  line-height: 1.1;
  color: var(--color-primario);
  text-align: center;
  margin-bottom: 8px;
}
h2 {
  font-size: clamp(2rem, calc(5vw + 1rem), 2.5rem);
  line-height: 1.1;
  color: var(--color-primario);
  text-align: center;
}
h3 {
  font-size: clamp(1.7rem, calc(7vw + 1rem), 2rem);
  line-height: 1.1;
  color: var(--color-primario);
  text-align: center;
}
h4 {
  font-size: 1.5em;
  line-height: 1.1;
  color: var(--color-primario);
  text-align: center;
}
p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--color-primario);
}
span {
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--color-primario);
}
small {
  font-size: 0.9rem;
  line-height: 1;
  color: var(--color-primario);
}
label {
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--color-primario);
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-boton-fondo);
  color: var(--color-secundario);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--color-boton-fondo);
  background-color: var(--color-secundario);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
