.profilePictureContainer {
  position: relative; 
  width: 200px; 
  height: 200px; 
  margin-right: 20px; 
}

.profilePicture {
  width: 100%; 
  height: 100%;
  border-radius: 50%; 
  object-fit: cover;
  border: 3px solid #0048ba; 
}

.cameraIcon {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  background-color: white; 
  border-radius: 50%; 
  padding: 8px 10px 4px 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
  color: #0048ba; 
  font-size: 24px; 
}

.profile {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile.p{
    margin: 0;
}

.title {
  margin: 90px 20px;
  text-align: start;
  color: black;
  font-size: 36px;
}

.names{
  margin: 10px 0px 0px 0px;
}
.email{
  margin: 5px 0px 0px 0px;
  color:black;
}

.subtitle{
  color: black;
  font-size: 32px;
}

.button{
  border-radius: 20px;
}


@media (max-width: 767px) {
  .container{
    margin: 10px;
  }
  .title{
    font-size: 30px;
  }
  .subtitle{
    font-size: 20px;
  }
}
