/* Estilos base */
.recharts-x-axis .recharts-cartesian-axis-tick {
  font-size: 12px;
}

.recharts-y-axis .recharts-cartesian-axis-tick {
  font-size: 12px;
}

/* Ajustes para pantallas pequeñas */
@media (min-width: 768px) {
  .recharts-x-axis .recharts-cartesian-axis-tick {
    font-size: 10px;
  }

  .recharts-y-axis .recharts-cartesian-axis-tick {
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  .recharts-x-axis .recharts-cartesian-axis-tick {
    font-size: 80px;
  }

  .recharts-y-axis .recharts-cartesian-axis-tick {
    font-size: 8px;
  }
}
