/* Estilos base .recharts-x-axis .recharts-cartesian-axis-tick {
  font-size: 12px;
}

.recharts-y-axis .recharts-cartesian-axis-tick {
  font-size: 12px;
} */

/* Ajustes para pantallas pequeñas */
@media (min-width: 768px) {
  .recharts-x-axis .recharts-cartesian-axis-tick {
    font-size: 10px;
  }

  .recharts-y-axis .recharts-cartesian-axis-tick {
    font-size: 10px;
  }
}

@media (min-width: 425px) {
  .box-section .toggle-btn-barchart {
    font-size: 0.8rem !important;
  }
}
