.registerview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
}

.registerForm {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
	text-align: center;
	width: 90%;
	font-size: larger;

	border: 2px solid var(--color-secundario);
	border-radius: 2rem;
	max-width: 500px;
	padding-bottom: 16px;
	box-shadow: var(--color-secundario) 0px 0px 40px 0px;
}

.labelInput {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	max-width: 243px;
	label {
		font-size: 1.1rem;
	}
	input,
	select,
	textarea {
		border-radius: 0.5rem;
		size: medium;
		padding: 0.6rem;
		font-size: large;
		background-color: var(--color-boton-fondo);
	}
}

.buttonEnabled {
	/* border: 3px solid green;
	color: white;
	background-color: green; */
}
.buttonDisabled {
	border: 3px solid grey;
	color: white;
	background-color: grey;
	&:hover {
		cursor: auto;
	}
}

.registerdiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	p {
		margin: 0px;
	}
	span {
		font-size: medium;
	}
}

a {
	color: var(--color-primario);
	font-size: medium;
}
